<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title> Page for Ask Admin to Retrain Collaborative Model </title>
</head>

<body>
  <div style="
        font-family: Helvetica, Arial, sans-serif;
        min-width: 1000px;
        overflow: auto;
        line-height: 2;
      ">
    <div style="margin: 50px auto; width: 70%; padding: 20px 0">
      <div style="border-bottom: 1px solid #eee">
        <a href="" style="
              font-size: 1.4em;
              color: #00466a;
              text-decoration: none;
              font-weight: 600;
            ">Book Recommendation System</a>
      </div>
      <p style="font-size: 1.1em">Dear,</p>
      <p>
        I hope this email finds you well. I am writing to request the retraining of our collaborative model due to recent changes and updates in our data and operational environment.
      </p>

      <div style="
        font-size: 1em;
        color: #00466a;
        text-decoration: none;
        font-weight: 600;">
        Currently, there are new {{{numberOfNewInteractions}}} interactions (ratings) that have not been trained before.
      </div>
      
      <p>
        Given the importance of maintaining accurate and effective models, I believe retraining will enhance our performance and ensure we continue to meet our objectives effectively.
      </p>
      <p style="font-size: 0.9em">Best regards,<br />Book Recommendation System</p>
      <hr style="border: none; border-top: 1px solid #eee" />
      <div style="
            float: right;
            padding: 8px 0;
            color: #aaa;
            font-size: 0.8em;
            line-height: 1;
            font-weight: 300;
          ">
        <p>Book Recommendation System Group</p>
        <p>The University of Science and Technology</p>
        <p>Da Nang</p>
      </div>
    </div>
  </div>
</body>

</html>